<div *ngIf="evento" class="bg-white rounded-lg shadow-lg p-4 w-full sm:w-64 h-80 flex flex-col">
  <img src="/foto_defecto-evento.png" [alt]="evento.nombre" class="w-full h-28 object-cover rounded-t-lg">

  <div class="p-4 flex-grow flex flex-col justify-between">
    <div>
      <p class="text-xl font-semibold mb-1">{{ evento.nombre }}</p>
      <p class="text-sm text-gray-500 mb-1">{{ evento.provincia }}</p>
    </div>
    <a [routerLink]="['/evento', evento.id, 'almacenes']" class="mt-0 text-white bg-yellow-500 hover:bg-yellow-600 rounded-full px-4 text-sm text-center">Puntos de recogida</a>
  </div>
</div>
