<nav class="bg-white-800 py-6 relative justify-around">
  <div class="bg-gray-500 container mx-auto flex rounded-xl">
    <div class="flex flex-grow">
      <img src="assets/logo_ev_1-removebg-preview.png" alt="logo" class="h-20 w-auto">

    </div>


    <div class="flex flex-grow justify-between">

      <div class>
        <input type="text" placeholder="Buscar..." class="flex-grow p-2 rounded-l-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
        <button class="bg-blue-500 text-white p-2 rounded-r-lg hover:bg-blue-700">Buscar</button>
      </div>

      <div class="justify-between">

        <a href="a" class="text-white bg-black border border-black py-2.5 px-5 rounded-md hover:bg-slate-700 hover:border-slate-700 transition duration-500 ease-in-out mr-1"> Iniciar sesión</a>
        <a href="a" class="text-white bg-cyan-600 border py-2.5 px-5 rounded-md hover:bg-cyan-500 hover: border-cyan-500 transition duration-500 ease-in-out"> Registrarse</a>

      </div>

    </div>











  </div>

</nav>

