<table mat-table [dataSource]="eventos">
  <ng-container matColumnDef="idEvento">
    <th mat-header-cell *matHeaderCellDef> ID Evento </th>
    <td mat-cell *matCellDef="let evento"> {{ evento.idEvento }} </td>
  </ng-container>

  <ng-container matColumnDef="nombreEvento">
    <th mat-header-cell *matHeaderCellDef> Nombre Evento </th>
    <td mat-cell *matCellDef="let evento"> {{ evento.nombreEvento }} </td>
  </ng-container>

  <ng-container matColumnDef="descripcionEvento">
    <th mat-header-cell *matHeaderCellDef> Descripción Evento </th>
    <td mat-cell *matCellDef="let evento"> {{ evento.descripcionEvento }} </td>
  </ng-container>


  <ng-container matColumnDef="nombreProvincia">
    <th mat-header-cell *matHeaderCellDef> Provincia </th>
    <td mat-cell *matCellDef="let evento"> {{ evento.nombreProvincia }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
