<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Provincia</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
            <th class="px-6 py-3"></th>
            <th class="px-6 py-3"></th>
        </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200" *ngFor="let almacen of listaAlmacen">
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{almacen.nombre}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{almacen.provincia}}</td>
            <td class="px-6 py-4 whitespace-nowrap">
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800"  *ngIf="almacen.esActivo">Activo</span>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800" *ngIf="!almacen.esActivo">Inactivo</span>         
            </td>
            <td><a ><mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>            </a></td>
            <td><a ><mat-icon aria-hidden="false" aria-label="delete" (click)="abrirConfirmacion(almacen.id)">delete</mat-icon>            </a></td>
        </tr>
    </tbody>
</table>