<nav class="flex">
    <img src="/logo_ev_1-removebg-preview.png" alt="">
    <h1>Panel del Administrador</h1>
</nav>
<ul class="flex space-x-2">
    <li><a routerLink="gestion-usuarios"><mat-icon aria-hidden="false" aria-label="Example person icon" >person</mat-icon></a></li>
    <li><a routerLink="gestion-almacenes"><mat-icon aria-hidden="false" aria-label="Example warehouse icon">warehouse</mat-icon></a></li>
    <li><a routerLink="gestion-eventos"><mat-icon aria-hidden="false" aria-label="Example calendar_today icon">calendar_today</mat-icon></a></li>
</ul>
<router-outlet> </router-outlet>