<footer class="bg-transparent py-4">
  <div class="container mx-auto flex flex-col items-center text-center">
    <span class="text-xs text-black">2024 ©<a href="https://freefrontend.com/" class="text-blue-400 hover:underline">EnvioVital</a></span>
    <div class="flex flex-wrap justify-center space-x-2 mt-2 text-xs text-black">
      <span>∘</span>
      <span><a href="/privacy-policy" class="text-blue-400 hover:underline">Politica de privacidad y política de Cookies</a></span>
      <span>∘</span>
      <span><a href="" class="text-blue-400 hover:underline">Contacto</a></span>
      <span>∘</span>
      <span><a rel="me" href="" class="text-blue-400 hover:underline">Reportar problemas</a></span>
      <span>∘</span>
    </div>
  </div>
</footer>
